<table class="table table-striped sortable">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Industry</th>
            <th data-dateformat="MM-DD-YYY" data-defaultsort="asc">Earning date</th>
            <th>Time</th>
            <th>Market Cap</th>
            <th>P/E</th>
            <th>Price</th>
            <th>Change</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>

        <% @stocks.each do |symbol, stock| %>
            <tr>
                <td><a href="http://finance.yahoo.com/q/op?s=<%= symbol %>"><%= symbol %></a></td>
                <td><%= stock[:company] %></td>
                <td><%= stock[:industry] %></td>
                <td><%= stock[:er_date] %></td>
                <td><%= stock[:er_time] %></td>
                <td><%= stock[:market_cap].to_i/1000 %></td>
                <td><%= stock[:pe] %></td>
                <td><%= stock[:price] %></td>
                <td><%= stock[:change] %></td>
                <td><%= stock[:volume] %></td>
            </tr>
        <% end %>

    </tbody>

</table>

<div class="text-center">
    <a href="<%= @link_url %>">More details</a>
</div>